<!DOCTYPE html>
<html>
<% include ./partials/layout/head %>
<body>
<div class="main-wrapper">
    <div class="app" id="app">
        <% include ./partials/layout/header %>
        <% include ./partials/layout/menu.ejs %>
        <article class="content">
            <section class="section">
                <h1><%= title %></h1>
                <div class="card">
                    <div class="card-block">
                        <form action="/search" method="POST" id="searchForm">
                            <input type="hidden" name="page" id="page" value="1" />
                            <div class="row form-group">
                                <div class="col-4">
                                    <label class="control-label">Type your search</label>
                                    <input type="text" name="search" class="form-control boxed" value="<%= search %>"/>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Status</label>
                                    <select name="status" class="form-control">
                                        <option value="all">All</option>
                                        <option value="">Ongoing</option>
                                        <option value="manual_review" <% if(status === "manual_review") {%>selected="selected"<%}%>>Pending</option>
                                        <option value="approved" <% if(status === "approved") {%>selected="selected"<%}%>>Approved</option>
                                        <option value="created" <% if(status === "created") {%>selected="selected"<%}%>>Created</option>
                                        <option value="rejected" <% if(status === "rejected") {%>selected="selected"<%}%>>Rejected</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Items per page</label>
                                    <input type="text" name="items" class="form-control boxed" value="<%= items %>"/>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-6">
                                    <label class="control-label">Start date</label>
                                    <input type="text" name="startDate" class="form-control boxed" value="<%= startDate %>" placeholder="Ex: 20180221" />
                                </div>
                                <div class="col-6">
                                    <label class="control-label">End date</label>
                                    <input type="text" name="endDate" class="form-control boxed" value="<%= endDate %>" placeholder="Ex: 20180318" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-secondary">Search</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <table class="table table-sm">
                            <thead class="thead-default">
                                <tr>
                                    <th><input type="checkbox" onclick="javascript:toggleAll()" id="toggleAll" /></th>
                                    <th>Created at</th>
                                    <th>Email</th>
                                    <th>Phone number</th>
                                    <th>Username</th>
                                    <th>IP</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% users.forEach(function(user) { %>
                                <tr id="<%= user.id %>">
                                    <td>
                                        <input type="checkbox" value="<%= user.id %>" />
                                    </td>
                                    <td><%= moment(user.created_at).format(moment_format) %></td>
                                    <td>
                                        <a href="/user/<%= user.id %>"><%= user.email %></a>
                                        <% if(user.email_is_verified) { %>
                                        <br />
                                        <span class="badge badge-success">Verified</span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <%= user.phone_number %>
                                        <% if(user.phone_number_is_verified) { %>
                                        <br />
                                        <span class="badge badge-success">Verified (<%= user.phone_code_attempts %> attempts)</span>
                                        <% } %>
                                    </td>
                                    <td><%= user.username %></td>
                                    <td><%= user.ip %></td>
                                </tr>
                            <% }); %>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#approveUserModal">Approve</button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#rejectUserModal">Reject</button>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <% if(page > 1) { %>
                                <li class="page-item"><a class="page-link" onclick="javascript:goToPage(<%= page - 1 %>)">Previous</a></li>
                                <% } %>
                                <% for(var i = 1; i <= Math.min(2, maxPage); i += 1){%>
                                <li class="page-item <% if(page === i){%>active<%}%>"><a class="page-link" onclick="javascript:goToPage(<%= i %>)"><%= i %></a></li>
                                <% } %>
                                <% if(Math.max(3, Math.min(page - 2, maxPage - 6)) > 3) { %>
                                <li class="page-item page-separator">...</li>
                                <% } %>
                                <% if(maxPage > 2) {
                                for(var i = Math.max(3, Math.min(page - 2, maxPage - 6)); i <= Math.min(maxPage - 3,Math.max(page + 2, 5)); i += 1){
                                %>
                                <li class="page-item <% if(page === i){%>active<%}%>"><a class="page-link" onclick="javascript:goToPage(<%= i %>)"><%= i %></a></li>
                                <%  }
                                }
                                %>
                                <% if(page < maxPage - 5) { %>
                                <li class="page-item page-separator">...</li>
                                <% } %>
                                <%
                                if(maxPage > 2) {
                                for(var i = Math.max(3,maxPage - 2); i <= maxPage; i += 1){
                                %>
                                <li class="page-item <% if(page === i){%>active<%}%>"><a class="page-link" onclick="javascript:goToPage(<%= i %>)"><%= i %></a></li>
                                <% }
                                }
                                %>
                                <% if (showLast) { %>
                                <li class="page-item"><a class="page-link" onclick="javascript:goToPage(<%= page + 1 %>)">Next</a></li>
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
        </article>
    </div>
</div>
<% include ./partials/layout/scripts %>
<% include ./components/user-modal %>
<% include ./components/result-modal %>
<script type="text/javascript">
  function toggleAll() {
    var status = $('#toggleAll').is(':checked');
    $('input[type="checkbox"]').each(
      function(o) {
        $(this).prop('checked',status);
      }
    );
  }
  function goToPage(page) {
    $('#page').val(page);
    $('#searchForm').submit();
  }
</script>
</body>
</html>